<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Hadalao_Hotpot.Properties.Settings.QUANLYLAUConnectionString"

            connectionString="Data Source=DESKTOP-B87EC4S;Initial Catalog=QUANLYLAU;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>